<style>
body { background: url(background.jpg) no-repeat; background-size:cover;}
</style>
h1 {
	font-size: 10px;
	color: #000000 !important; font-family: tahoma;
	
	
}
.scroll {
  height: 1000px;
  overflow-y: scroll;
}


h3 {
	font-size: 20px; 
	color: #000000 !important; font-family: arial;
	width: 500px;
}

.tab {
    overflow: hidden;
    border: 1px solid #4B0082;
    background-image: url(images/background1.jpg);
}

.tab button {
    background-color: inherit;
    float: center;
    border: black;
    outline: black;
    cursor: pointer;
    padding: 10px 20px;
    transition: 1s;
}


.tab button:hover {
    background-color: black;
}


.tab button.active {
    background-color: black;
}
.button {
  display: inline-block;
  background: black;
  color: black;
  padding: 12px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1;
  font-weight: 100;
  cursor: pointer;
}

div {
  margin: 24px;
  text-align: center;
}

.tabcontent {
    display: none;
    padding: 16px 12px;
    border: 1px solid black;
    border-top: none;
		text-color: black
}

body{
	
	background-image: url(background.jpg);  no-repeat; background-size:cover;
	
}
img {
  -webkit-filter: drop-shadow
                  drop-shadow;
  filter: drop-shadow(3px 3px 0 #4B0082) 
          drop-shadow(3px 3px 0 #4B0082);
}

body {
  background-color: lightcoral;
}