h1 {
	font-size: px;
	color: #904b58; font-family: COMIC SANS MS ; style="font-size:20px; color:#904b58; padding-right: 40px; font-family:  ARIAL BLACK ; text-decoration: none;
	text-shadow: 5px 5px 5px #ffffff;
			<style>
text-indent : 40px;
<style>
}
h2 {
	<left-side>
	font-size: 30px;
	color: #904b58; font-family: COMIC SANS MS; hspace="10" vspace="10"; style="float: right; margin-top: -500px; margin-right: -150px;
	outline: #ffffff;
}

h3 {
	font-size: 15px; 
	color: #4B0082; font-family: COMIC SANS MS;
	width: 500px;
}

.tab {
    overflow: hidden;
    border: 1px solid #4B0082;
    background-image: url(images/background1.jpg);
}

.tab button {
    background-color: inherit;
    float: center;
    border: #4B0082;
    outline: #4B0082;
    cursor: pointer;
    padding: 10px 20px;
    transition: 1s;
}


.tab button:hover {
    background-color: #4B0082;
}


.tab button.active {
    background-color: #4B0082;
}


.tabcontent {
    display: none;
    padding: 16px 12px;
    border: 1px solid #4B0082;
    border-top: none;
		text-color: #4B0082
}

body{
	
	background-image: url(background.jpg);  no-repeat; background-size:cover;
	
}
img {
  -webkit-filter: drop-shadow
                  drop-shadow;
  filter: drop-shadow(3px 3px 0 #4B0082) 
          drop-shadow(3px 3px 0 #4B0082);
		 style="float: left; margin-top: -500px; margin-left: -200px"
}

body {
  background-color: lightcoral;
}