h1 {
	font-size: 15px;
	color: white; font-family: tahoma; style="font-size:20px; color:#904b58; margin-right:-100px; font-family: ARIAL BLACK; text-decoration: none;
	text-shadow: 5px 5px 5px #ffffff;
	
}
h2 {
	font-size: 30px;
	color: #904b58; font-family: COMIC SANS MS; hspace="10" vspace="10";
	outline: #ffffff;

}

h3 {
	font-size: 15px; 
	color: #904b58; font-family: COMIC SANS MS;
	width: 500px;
}

.tab {
    overflow: hidden;
    border: 1px solid #d3a6af;
    background-image: url(images/background1.jpg);
}

.tab button {
    background-color: inherit;
    float: center;
    border: #904b58;
    outline: #904b58;
    cursor: pointer;
    padding: 10px 20px;
    transition: 1s;
}


.tab button:hover {
    background-color: #d09cb3;
}


.tab button.active {
    background-color: #d09cb3;
}


.tabcontent {
    display: none;
    padding: 16px 12px;
    border: 1px solid #d09cb3;
    border-top: none;
		text-color: #b95b75
}

body{
	
	background-image: url(background.jpg);  no-repeat; background-size:cover;
	
}
img {
  -webkit-filter: drop-shadow
                  drop-shadow;
  filter: drop-shadow(3px 3px 0 pink) 
          drop-shadow(3px 3px 0 pink);
}

body {
  background-color: lightcoral;
}